.homepage {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeBackground {
  margin-top: 60px;
  background-image: url("https://soinverjip.s3.amazonaws.com/mobile/imagenes/HomePage1.jpg");
  background-position: top;
  background-size: contain;
  width: 100%;
  max-width: 600px;
  height: auto; 
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-radius: 16px;
}

.homeTittle {
  font-size: 30px;
  font-weight: 100;
  width: 80%;
  margin-top: 80px;
  margin-bottom: 300px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  border-radius: 12px;
}

.homeMenus {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  align-items: center;
  justify-items: center;
  margin-bottom: 300px;
}

.homeMenus > div {
  cursor: pointer;
  width: 80%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid white;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Estilos para contenedor de las 3 columnas*/
.homeM1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/*Estilos para contenedor de las 2 filas*/
.homeM2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  height: 50px;
}

.homeM3 {
  font-weight: 400;
  font-size: 30px;
}

.homeM4 {
  font-size: 16px;
  text-align: center;
}

.homeLogos {
  width: 30px;
  height: 30px;
}
