.homeBackground {
  background-image: url("https://soinverjip.s3.amazonaws.com/mobile/imagenes/HomePage1.jpg"); /* Agrega la URL de la imagen aquí */
  background-color: rgb(0, 0, 0);
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  top: 0;
  left: 0;
  width: 100vw; /* El ancho ocupará el 100% del viewport */
  height: auto; /* El alto ocupará el 100% del viewport */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeTittle {
  font-size: 35px;
  font-weight: 100;
  width: 400px;
  margin-top: 80px;
  margin-bottom: 500px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.6); 
  color: white; 
  text-align: center; 
  border-radius: 12px;
}

.homeMenus {
  display: grid; /* Cambiar a cuadrícula */
  grid-template-rows: repeat(2, 1fr); /* 2 filas de igual tamaño */
  grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
  gap: 24px; /* Espacio entre los elementos */
  align-items: center;
  justify-items: center;
  margin-bottom: 40px;
}

.homeMenus > div {
  width: 180px;
  height: 180px;
  color: white;
  background: rgba(0, 0, 0, 0.6); 
  border: 2px solid white;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Estilos para contenedor de las 3 columnas*/
.homeM1{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/*Estilos para contenedor de las 2 filas*/
.homeM2{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  height: 50px;
}

.homeM3{
  font-weight: 400;
  font-size: 30px;
}

.homeM4{
  font-size: 16px;
  text-align: center;
}

.homeLogos{
  width: 30px;
  height: 30px;
}