.service {
  margin: 12px 0px 0px auto;
  border: solid 3px black;
  background-color: black;
  width: 75%;
  max-width: 450px;
  border-radius: 24px 0px 0px 24px;
  color: white;
  text-align: right;
}

.serviceTittle {
  font-size: 30px;
  font-weight: 400;
  width: 80%;
  margin: 8px 8px 8px 24px;
}

.sectionBody {
  font-size: 24px;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  margin-bottom: 8px;
}

.justifyText{
  text-align: justify; 
}

.serviceBody {
  width: 70%;
  margin: 0px 32px 0px 0px;
  height: 100%;
}

.serviceIcon {
  width: 25%;
  margin-left: 8px;
}
